/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 3, 2023, 5:15:20 PM
    Author     : jrg71
*/
*{
    font-family: "Lucida Console";
}
nav{
    max-width: 920px;
    margin: auto;
    background-color: black;
}
nav h2{
    font-size: 20px;
    align-self: center;
}
body{
    background-color: black;
}
table{
    width: 100%;
    align-self: center;
}

.galeriaInicio{
    max-width: 1200px;
    margin: auto;
    overflow:  auto;
}
.galeriaInicio h2{
    color: white;
    text-align: justify;
    font-size: 20px;
}
.imagengal{
    margin: 5px;
    border: 1px;
    float: left;
    widht: 390px;
}
.imagengal img{
    width: 350px;
    height: 800px;
}

.encabezado th{
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: #40128B;
}
.reviews tr:nth-child(odd){
    text-align: justify;
    font-size: 12px;
    font-style: italic;
    color: white;
    background-color: #6E7BBD;
    margin: 1px;
}
.reviews tr:nth-child(even){
    text-align: justify;
    font-size: 12px;
    font-style: italic;
    color: white;
    background-color: #40128B;
    margin: 1px;
}
.reviewsTitle{
    text-align: justify;
    font-size: 15px;
    color: white;
}

.home img{
    right: 0%;
    width:100%;
    height: 78vh;
    background-size: cover;
    background-position: center;
}

.titulo h1{
    top : 0%;
    text-align: center;
    font-size: 30px;
    color: white;
    text-decoration: none;
}
.titulo h1 a {
    top : 0%;
    text-align: center;
    font-size: 30px;
    color: white;
    text-decoration: none;
}
.titulo h1 a:hover {
    top : 0%;
    color: white;
    text-align: center;
    font-size: 30px;
    color: #40128B;
    text-decoration: none;
}

.tituloContactos h2{
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    padding: 0px 20px;
    color: white;
}
.tituloContactos div{
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    color: white;
}
.contactos{
    padding: 0px 20px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu li a {
    display: block;
    padding: 15px 15px;
    color: white;
    text-decoration: none;
}
.menu li:hover{
    background-color: #40128B;
    opacity: 0.5;
}
.piepagina {
    position: absolute;
    left: 0%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}